<!DOCTYPE html>
<html ng-app='parseApp'>
<html>
	<head>
		<title>Test App</title>
		<link rel="stylesheet" type="text/css" href="resources/bootstrap.min.css"></link>
	</head>
	<body ng-controller='parseController'>
		<div class="jumbotron text-center">
  			<h1>Welcome to the Test App!</h1>
  			<p>Let's edit some sublet data.<p>
		</div>
		<script src="resources/angular.min.js"></script>
		<script src="js/parseController.js"></script>
  		<script src="//www.parsecdn.com/js/parse-1.2.19.min.js"></script>
	</body>
</html>